[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
alpaca-py = "*"
pyyaml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
